.header {
  background-color: #f8f8f8;
  color: #777777;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.header > .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .content > .links {
  display: flex;
}

.header > .content > .links > li:hover {
  color: #333333;
}

.header > .content > .links > li:active {
  background-color: #da9087;
}

.header > .content > .links > li > a {
  padding: 15px;
}

.header > .content > h5 {
  padding-left: 15px;
}
