h1 {
  font-size: 36px;
  line-height: normal;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.link {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
